<div class = "head-bar" >  
  <nav class="top-bar" data-topbar role="navigation">
    <ul class="title-area">
      <li class="name">
        <%= link_to "FX:Rigs", root_path, class: "name", id: "rigs-title" %> <br />
        
      </li>
      <li>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>  
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
          <% if user_signed_in? %>
            <li class="name">
              <%= link_to current_user.email, edit_user_registration_path%>
            </li>
            <li class="name">
              <%= link_to "Logout", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>   
          <li class="name"><%= link_to "Login", new_user_session_path %></li>
          <li class="name"><%= link_to "Signup |",new_user_registration_path %></li>
          <% end %>
          <li class="name"><%= link_to "Rigs",rigs_path %></li>
          <li class="name"><%= link_to "New Rig", new_rig_path if user_signed_in? %></li>
          <li class="name"><%= link_to "Pedals", pedals_path %></li>
          <li class="name"><%= link_to "Genres", genres_path %></li>
          <li class="name"><%= link_to "Profile", user_path(current_user) if user_signed_in? %></li>
      </ul> 
      <ul class= "right">
          <%= form_tag( results_path, method: "get") do %>
            <li><%= label_tag(:q, "Search Rigs:") %></li>
            <li><%= text_field_tag(:q) %></li>
          <% end %>
      </ul>
    </section>
  </nav>  
</div>