<%= form_for(@pedal) do |f| %>
  <% if @pedal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pedal.errors.count, "error") %> prohibited this pedal from being saved:</h2>

      <ul>
      <% @pedal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :type %><br>
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :pedal_photo %><br>
    <%= f.text_area :pedal_photo %>
  </div>
  <div class="field">
    <%= f.label :price_paid %><br>
    <%= f.number_field :price_paid %>
  </div>
  <div class="field">
    <%= f.label :review %><br>
    <%= f.text_area :review %>
  </div>
  <div class="field">
    <%= f.label :rig_id %><br>
    <%= f.number_field :rig_id %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
