<p id="notice"><%= notice %></p>

<h1>Listing Pedals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Pedal photo</th>
      <th>Price paid</th>
      <th>Review</th>
      <th>Rig</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedals.each do |pedal| %>
      <tr>
        <td><%= pedal.name %></td>
        <td><%= pedal.type %></td>
        <td><%= pedal.pedal_photo %></td>
        <td><%= pedal.price_paid %></td>
        <td><%= pedal.review %></td>
        <td><%= pedal.rig_id %></td>
        <td><%= pedal.user_id %></td>
        <td><%= link_to 'Show', pedal %></td>
        <td><%= link_to 'Edit', edit_pedal_path(pedal) %></td>
        <td><%= link_to 'Destroy', pedal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedal', new_pedal_path %>
