<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pedal.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @pedal.category %>
</p>

<p>
  <strong>Pedal photo:</strong>
  <%= image_tag @pedal.image_url %>
</p>

<p>
  <strong>Price paid:</strong>
  <%= @pedal.price %>
</p>

<p>
  <strong>Review:</strong>
  <%= @pedal.short_description %>
</p>

<p>
  <strong>Rig:</strong>
  <%= @pedal.rig_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @pedal.user_id %>
</p>

<%= link_to 'Edit', edit_pedal_path(@pedal) %> |
<%= link_to 'Back', pedals_path %>
