<div id="home">



  <div class="autoplay">
    <div><%= image_tag "myrig.jpg", alt: "slide 1" %></div>
    <div><%= image_tag "home-rig8", alt: "slide 1" %></div>
    <div><%= image_tag "home-rig3", alt: "slide 1" %></div>
    <div><%= image_tag "home-rig4", alt: "slide 1" %></div>
    <div><%= image_tag "home-rig5", alt: "slide 1" %></div>
    <div><%= image_tag "home-rig7", alt: "slide 1" %></div>
  </div>

  <div class="home-body">
    <h1>FX:Rigs</h1>
    <p>Welcome to the website dedicated to guitarists Effects Pedalboards and Rigs</p> 
    <p>Here you can search for a guitarist and look at which pedals they use.</p> 
    <p>You can upload your own rig or someone else rig adn add details about it</p>
    <div class="row" id="home-list">
      <div class="field large-5 columns">
        <ul id="pedal-home-list">
          <% @pedals.each do |pedal| %>
            <li>
              <%= pedal.cached_votes_score %>
              <%= link_to pedal.title, pedal %>
        
            </li>
          <% end %>
        </ul>
      </div>
      <div class="field large-2 columns">
        
      </div>
      <div class="field large-5 columns">
        <ul id="rig-home-list">
          <% @rigs.each do |rig| %>
            <li>
              <%= rig.cached_votes_score %>
              <%= link_to rig.guitarist, rig %>
        
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>