<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Pedal:</strong>
  <%= @user.pedal_id %>
</p>

<p>
  <strong>Favourites:</strong>
    

    <%= @user.find_liked_items[4].title %> <br>
    <%= @user.find_liked_items[5].guitarist %>  
</p>

<ul>
  <strong>Faves:</strong>
  <% @user.find_liked_items.each do |element| %>
    <% if element.class == Pedal %>
      <li>
        <%= element.title %>
      </li>
    <% else %>
      <li>
        <%= element.guitarist %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
