<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Pedal:</strong>
  <%= @user.pedal_id %>
</p>
  

<strong>Favourite Pedals:</strong>
<ul>
  <% @user.find_liked_items.each do |element| %>
    <% if element.class == Pedal %>
      <li>
        <%= element.title %>
      </li>
    <% end %>
  <% end %>
</ul>

<strong>Favourite Rigs:</strong>
<ul>
  <% @user.find_liked_items.each do |element| %>
    <% if element.class == Rig %>
      <li>
        <%= element.guitarist %>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
