<p id="notice"><%= notice %></p>

<h1>Listing Images</h1>

<table>
  <thead>
    <tr>
      <th>Image url</th>
      <th>Caption</th>
      <th>User</th>
      <th>click to like</th>
      <th> no.of likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @images.each do |image| %>
      <tr>
        <td><%= image_tag image.image_url, width: 100 %></td>
        <td><%= image.caption %></td>
        <td><%= image.user.full_name %></td>
        <td>
          <% @images.each do |image| %>
          <%= link_to "Like", like_image_path(image), method: :put %>
          <% end %>
        </td>
        <td>Likes: <%= image.get_likes.size %></td>
        <td><%= link_to 'Show', image %></td>
        <td><%= link_to 'Edit', edit_image_path(image) %></td>
        <td><%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path if user_signed_in? %>
