<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pedal.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @pedal.category %>
</p>

<p>
  <strong>Pedal photo:</strong>
  <%= image_tag @pedal.image_url %>
</p>

<p>
  <strong>Price paid:</strong>
  <%= @pedal.price %>
</p>

<p>
  <strong>Review:</strong>
  <%= @pedal.short_description %>
</p>


<p>
  <strong>Rigs:</strong>
  <% @pedal.rigs.each do |rig| %>
    <%= link_to rig.guitarist, rig %>
  <% end %>
</p>

<p>
  <%= link_to "Like", like_pedal_path(@pedal[:id]), method: :put%></td>
</p> 

<p>
  <%= @pedal.get_likes.size %>
</p>


<p>
  <strong>User:</strong>
  <%= @pedal.user_id %>
</p>

<% if user_signed_in? && current_user.role == "admin" %>
  <%= link_to 'Edit', edit_pedal_path(@pedal) %> |
<% end %>
<%= link_to 'Back', pedals_path %>
