<p id="notice"><%= notice %></p>

<h1>Listing Rigs</h1>

<table>
  <thead>
    <tr>
      <th>Guitarist</th>
      <th>Rig photo</th>
      <th>Description</th>
      <th>Comments</th>
      <th>User</th>
      <th>Pedal</th>
      <th>Genre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rigs.each do |rig| %>
      <tr>
        <td><%= rig.guitarist %></td>
        <td><%= rig.rig_photo %></td>
        <td><%= rig.description %></td>
        <td><%= rig.comments %></td>
        <td><%= rig.user_id %></td>
        <td><%= rig.pedal_id %></td>
        <td><%= rig.genre_id %></td>
        <td><%= link_to 'Show', rig %></td>
        <td><%= link_to 'Edit', edit_rig_path(rig) %></td>
        <td><%= link_to 'Destroy', rig, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rig', new_rig_path %>
