<p id="notice"><%= notice %></p>

<p>
  <strong>Guitarist:</strong>
  <%= @rig.guitarist %>
</p>

<% if @rig.guitarist_upload_image %>
  <p class="guitarist-image">
    <strong>Guitarist Upload Image:</strong>
    <%= image_tag @rig.guitarist_upload_image.url %>
  </p>
<% else %>
  <p  class="guitarist-image">
    <strong>Guitarist photo:</strong>
    <%= image_tag @rig.guitarist_photo %>
  </p>
<% end %>

<% if @rig.rig_upload_image %>
  <p class="rig-image">
    <b>Rig Upload Image:</b>
    <%= image_tag @rig.rig_upload_image.url %>
  </p>
<% else %>
  <p class="rig-image">
    <strong>Rig photo:</strong>
    <%= image_tag @rig.rig_photo %>
  </p>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @rig.description %>
</p>


<p>
  <strong>Comments:</strong>
  <% if @rig.comments %>
    <% @rig.comments.each do |comment| %>
      <p><%= comment.comment %></p>
    <% end %>
  <% end %>
</p>

<p>
  <%= form_tag "/rigs/#{@rig.id}/add_new_comment" do %>
    <%= hidden_field_tag "id", :id %>
    <%= text_area_tag "comment[comment]" %>
    <%= submit_tag "Post Comment" %>
  <% end %>
</p>

<p>
  <strong>User:</strong>
  <%= @rig.user.username if @rig.user %>
</p>

<p>
  <strong>Pedals:</strong>
  <ul>
    <% @rig.pedals.each do |ped| %>
      <li>
        <%= image_tag ped.image_url %>
        <%= link_to ped.title, ped %>
      </li>
    <% end %>
  </ul>
</p>




<p>
  <strong>Likes:</strong>
  <%= @rig.get_likes.size  %>
</p>




<p>
  <strong>Genre:</strong>
  <%= @rig.genre.genre_name %>
</p>

<%= link_to 'Edit', edit_rig_path(@rig) %> |
<%= link_to 'Back', rigs_path %>
