<div class = "rigs-show"> 


  <div class="row">
    <div class="large-3 columns">
      <p id="notice"><%= notice %></p>

      <strong>Guitarist:</strong>
      <%= @rig.guitarist %>
      <%= image_tag @rig.guitarist_upload_image.url, width: 200 %>
      <strong>Genre:</strong>
      <%= link_to @rig.genre.genre_name, genre_path %> <br >
      <strong>Likes:</strong>
      <%= @rig.get_likes.size  %> <br>
      <strong>User:</strong>
      <%= @rig.user.username if @rig.user %>
    </div>
    <div class="large-5 columns">

      <b>Rig Image:</b>
      <%= image_tag @rig.rig_upload_image.url %>
    </div>
    <div class="large-4 columns">
      <strong>Description:</strong><br>
      <%= @rig.description %>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 columns">
      <strong>Comments:</strong>
      <% if @rig.comments %>
      <% @rig.comments.each do |comment| %>
      <p id="comments-separator"><%= comment.comment %></p>
      <% end %>
      <% end %>

      <% if user_signed_in? %>
      <p>
        <%= form_tag "/rigs/#{@rig.id}/add_new_comment" do %>
        <%= hidden_field_tag "id", :id %>
        <%= text_area_tag "comment[comment]" %>
        <%= submit_tag "Post Comment" %>
        <% end %>
      </p>
      <% end %>
    </div>
  </div>
  

  <div class="row">
    <strong>Pedals:</strong>
    <ul>
      <% @rig.pedals.each do |ped| %>
        <li class="rigs-show-pedals">
          <%= link_to(image_tag(ped.image_url), pedal_path(ped)) %>      
        </li>

      <% end %>
    </ul>

    
  </div>



  <%if user_signed_in? && current_user.id == @rig.user_id %>
  <%= link_to 'Edit', edit_rig_path(@rig) %> |
  <% end %>
  <%= link_to 'Back', rigs_path %>
</div>
